@use '../../helpers' as *;

.contact {
  --marginBetween: 60px;

  @include tablet-above {
    display: flex;
    justify-content: space-between;
    column-gap: var(--marginBetween);
  }

  &__soc1als {
    display: flex;
    color: var(--color-light);

    @include mobile {
      justify-content: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;

    @include tablet {
      margin-bottom: var(--marginBetween);
    }
  }
}