@use '../../helpers' as *;

.project-card {

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        cursor: pointer;
    
        @include hover {
            .project-card {
    
                &__title {
                    color:var(--color-accent);
    
                }
    
                &__img {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }

        @include desktop {
            align-items: center;
        }
    }

    &__img {
        overflow: hidden;
        


        img {
            object-fit: cover;
            transition-duration: var(--transition-duration-img);
        }
    }

    &__title {
        transition-duration: var(--transition-duration);
    }
}