.project-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include desktop {
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 20px;
        line-height: 24px;
        color:var(--color-accent);
    }
}