@use '../../helpers' as *;

.section {
    position: relative;
    padding-block: var(--section-padding-y);

    @include tablet {
        padding-block: var(--section-tablet-padding-y);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        margin-bottom: var(--section-header-margin-y);

        @include tablet {
            margin-bottom: var(--section-tablet-header-margin-y);
        }

        @include tablet {
            flex-direction: column;
            row-gap: 10px;
        }

        &--center {
            justify-content: center !important;
        }

        &-inner {
             &--center {
                @include flex-center;

                flex-direction: column;
             }
        }

    }

    &__title {
        position: relative;
        color: var(--color-accent);
        padding-left: 60px;

        &__description {
            line-height: 19px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 50px;
            height: 2px;
            background: var(--color-accent);
        }
    }

    &__subtitle {
        line-height: 56px;
    }

    &--gray {
        background: var(--color-dark-light);
    }

    &--contact {
        background: var(--color-gray-deep);
        border-left: 10px solid var(--color-accent);
    }
}

