@use '../../helpers' as *;

.skills {
  display: grid;
  align-items: start;
  gap: 40px;

  @include tablet-above {
    grid-template-columns: repeat(2, 50%);
  }

  @include tablet {
    gap: 25px;
  }

  &__item {
    &-data {
      display: grid;
      gap: 20px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }

    &-name {
      position: relative;
      padding: 15px;
      color: var(--color-light);
      background-color: var(--color-dark-light);
      border-radius: var(--border-radius);
      transition-duration: var(--transition-duration);

      &:hover {
        &:has(.skills__item-tooltip) {
          background-color: var(--color-dark-deep);
        }
      }

      &:hover .skills__item-tooltip,
      &:active .skills__item-tooltip {
        @include show;

        scale: 1;
      }
    }
  }
}