@use '../../helpers' as *;

.swiper  {

    &-wrapper {
        margin-bottom: 72px;
    }

    &-slide {
        padding-inline: var(--slide-padding-inline);

        @include desktop-above {
           --slide-padding-inline: 313px;
        }

        @include tablet-above {
            --slide-padding-inline: 100px;
        }
    }

    &-pagination {
        bottom: 0 !important;
    }

    &-pagination-bullet {
        background: var(--color-light) !important;
        opacity: 1 !important;
    }

    &-pagination-bullet-active {
        background: var(--color-accent) !important;
    }

    &-button-prev,
    &-button-next {
        color: var(--color-accent) !important; 
    }

    &-button-prev:after,
    &-button-next:after {
        font-size: 18px !important; 
    }

}