@use '../../helpers' as *;

.footer {
    --marginInner: 60px;

    padding-block: var(--marginInner);
    background: var(--color-dark-deep);
    
    &__logo {
        justify-content: center;
    }

    &__divider {
        height: 1px;
        background: var(--color-gray);
        margin: 40px auto;
        max-width: var(--container-width);
    }

    &__extra {
        --marginInner: 30px;

        display: flex;
        justify-content: space-between;
        color: var(--color-light);
        
        & span {
            color: var(--color-accent);
        }
    }
}
