@use '../../helpers' as *;

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 18px 0;
    background: var(--color-dark-deep);
    color: var(--color-light);
    font-weight: 700;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 60px;

        @include tablet {
            column-gap: 30px;
        }
    }

    &__menu {
        margin-left: auto;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 38px;

            @include tablet {
                column-gap: 19px;
            }
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 40px;
            
            @include hover {
                color: var(--color-accent);

                &::after {
                    width: 100%;
                    border-bottom: var(--border);
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                border-bottom: 1px solid var(--color-light);
                transition-duration: var(--transition-duration);
            }

            &.is-active {
                color: var(--color-accent);
            }
        }
    }

    &__vertical {
        &-menu {
            position: absolute;
            top: 18px;
            right: 10px;

            &-link {
                display: block;
                @include square (38px);
                position: relative;

                &.is-active {
                    &::before {
                        background-color: var(--color-accent);
                    }
                }

                @include hover {
                    background-color: transparent;

                    &::before {
                        background-color: var(--color-accent);
                    }
                }

                &::before {
                    content: '';
                    @include abs-center;
                    @include square (18px);
                    background-color: var(--color-light);
                    border-radius: 50%;
                    transition-duration: var(--transition-duration);
                }
            }
        }
    }
}