@use '../helpers' as *;

.resume {
    &-form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &__body {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        
        &__spot {
            line-height: 2.1;
        }

        &__info {
            .info__item:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        & p:where(:not([class]):not(:last-child)) {
            margin-bottom:0;
        }
    }
}

.education,
.experience {
    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
