@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*@mixin fluid-text($max: 48, $min: 16) {
    font-size: fluid($max, $min);
}*/
:root {
  --color-dark-deep: #050507;
  --color-dark: #101017;
  --color-dark-light: #313131;
  --color-light: #FFFFFF;
  --color-gray-deep: #0A0A0F;
  --color-gray: #808080;
  --color-accent: #079211;
  --container-width: 1280px;
  --container-desktop-padding-x: 125px;
  --container-tablet-padding-x: 80px;
  --container-mobile-padding-x: 55px;
  --section-padding-y: 70px;
  --section-tablet-padding-y: 50px;
  --section-header-margin-y: 90px;
  --section-tablet-header-margin-y: 70px;
  --button-height: 38px;
  --button-height-large: 54px;
  --border: 1px solid var(--color-accent);
  --transition-duration: .2s;
  --transition-duration-img: 1s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-desktop-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-desktop-padding-x);
}
@media (max-width: 1023px) {
  .container {
    padding-inline: var(--container-tablet-padding-x);
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: var(--container-mobile-padding-x);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  background-color: var(--color-dark);
  font-weight: 400;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  color: var(--color-gray);
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--color-light);
}

h1, .h1 {
  font-size: clamp(60px, 6.1111111111vw, 88px);
  line-height: 94px;
}

h2, .h2 {
  font-size: clamp(40px, 3.1944444444vw, 46px);
}

h3, .h3 {
  font-size: clamp(20px, 1.8055555556vw, 26px);
}

h4, .h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

h5, .h5 {
  font-size: clamp(16px, 1.25vw, 18px);
}

h6, .h6 {
  font-size: clamp(14px, 1.1111111111vw, 16px);
}

input[disabled]:hover {
  background-color: var(--color-dark-light);
}

dialog {
  min-width: 25vw;
  padding: var(--container-mobile-padding-x);
  margin: auto;
  border: 1px solid var(--color-dark-light);
  background-color: var(--color-dark);
  color: var(--color-gray);
}
dialog form {
  font-size: 28px;
}
dialog:modal {
  max-width: 850px;
  max-height: 100%;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

#home {
  scroll-margin-top: 150px;
}

.logo {
  font-size: 28px;
  color: var(--color-light);
  font-weight: 700;
}
.logo-link span {
  color: var(--color-accent);
}
@media (hover: hover) {
  .logo-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .logo-link:active {
    color: var(--color-accent);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 28px;
  background-color: var(--color-accent);
  border: var(--border);
  font-size: 18px;
  font-weight: 700;
  color: var(--color-light);
  line-height: 18px;
  min-height: var(--button-height-large);
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    background-color: transparent;
  }
}
@media (hover: none) {
  .button:active {
    background-color: transparent;
  }
}
.button--transparent {
  padding: 10px 16px;
  background-color: transparent;
  font-size: 14px;
  min-height: var(--button-height);
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--color-accent);
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
@media (hover: hover) {
  .cross-button:hover::after, .cross-button:hover::before {
    --colorBurgerLines: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active::after, .cross-button:active::before {
    --colorBurgerLines: var(--color-accent);
  }
}
.cross-button::after, .cross-button::before {
  --colorBurgerLines: var(--color-light);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--colorBurgerLines);
  border-radius: 1px;
  transition-duration: var(--transition-duration);
}
.cross-button::after {
  rotate: -45deg;
}
.cross-button::before {
  rotate: 45deg;
}

.send-email-overlay__close-button-wrapper,
.contact-overlay__close-button-wrapper,
.resume-overlay__close-button-wrapper,
.project-card-overlay__close-button-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.field__label {
  font-size: clamp(16px, 0.9722222222vw, 14px);
}
.field__input {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-dark-light);
  color: var(--color-light);
}
@media (hover: hover) {
  .field__input:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .field__input:active {
    background-color: var(--color-accent);
  }
}
.field__input:focus {
  border-color: var(--color-accent);
  outline: none;
}
.field__input::placeholder {
  color: var(--color-light);
}
.field__inner {
  display: flex;
  column-gap: 1px;
}
.field__btn-inner {
  position: relative;
}
.field__btn-inner button {
  width: 100%;
}

.resume-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.resume-form__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.resume-form__spot {
  line-height: 2.1;
}
.resume-form__info .info__item:not(:last-child) {
  margin-bottom: 10px;
}
.resume-form p:where(:not([class]):not(:last-child)) {
  margin-bottom: 0;
}

.education__body,
.experience__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.education__inner,
.experience__inner {
  display: flex;
  justify-content: space-between;
}

.send-email-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px);
}

.contact-form {
  text-align: center;
  color: var(--color-gray);
}

.project-card-form__description {
  text-align: justify;
}
.project-card-form span {
  color: var(--color-accent);
}
.project-card-form__stack-date {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.project-card-form__video {
  margin: 25px 0;
}
.project-card-form__link {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
@media (max-width: 419px) {
  .project-card-form__link {
    flex-direction: column;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 18px 0 var(--section-padding-y);
  background: linear-gradient(to bottom, var(--color-dark), transparent);
  color: var(--color-light);
  font-weight: 700;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
}
@media (max-width: 1023px) {
  .header__inner {
    column-gap: 30px;
  }
}
.header__menu {
  margin-left: auto;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 38px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    column-gap: 19px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 40px;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-accent);
  }
  .header__menu-link:hover::after {
    width: 100%;
    border-bottom: var(--border);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-accent);
  }
  .header__menu-link:active::after {
    width: 100%;
    border-bottom: var(--border);
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  border-bottom: 1px solid var(--color-light);
  transition-duration: var(--transition-duration);
}
.header__menu-link.active {
  color: var(--color-accent);
}
.header__vertical-menu {
  position: absolute;
  top: 18px;
  right: 10px;
}
.header__vertical-menu-link {
  display: block;
  width: 38px;
  height: 38px;
  position: relative;
}
.header__vertical-menu-link.active::before {
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .header__vertical-menu-link:hover {
    background-color: transparent;
  }
  .header__vertical-menu-link:hover::before {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__vertical-menu-link:active {
    background-color: transparent;
  }
  .header__vertical-menu-link:active::before {
    background-color: var(--color-accent);
  }
}
.header__vertical-menu-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 18px;
  height: 18px;
  background-color: var(--color-light);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.progress-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 4px;
  width: 0%;
  background: var(--color-accent);
}

.swiper-wrapper {
  margin-bottom: 72px;
}
.swiper-slide {
  padding-inline: var(--slide-padding-inline);
}
@media (min-width: 1281px) {
  .swiper-slide {
    --slide-padding-inline: 313px;
  }
}
@media (min-width: 1024px) {
  .swiper-slide {
    --slide-padding-inline: 100px;
  }
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  background: var(--color-light) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: var(--color-accent) !important;
}
.swiper-button-prev, .swiper-button-next {
  color: var(--color-accent) !important;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 18px !important;
}

.grid {
  --gridColumn: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumn), 1fr);
  gap: 20px;
}
.grid--2 {
  --gridColumn: 2;
}
@media (max-width: 1280px) {
  .grid--2 {
    --gridColumn: 1;
  }
}
.grid--3 {
  --gridColumn: 3;
}
.grid--1-2 {
  grid-template-columns: 1fr 2fr;
}

.section {
  padding-block: var(--section-padding-y);
}
@media (max-width: 1023px) {
  .section {
    padding-block: var(--section-tablet-padding-y);
  }
}
.section__header {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: var(--section-header-margin-y);
}
@media (max-width: 1023px) {
  .section__header {
    margin-bottom: var(--section-tablet-header-margin-y);
  }
}
@media (max-width: 1023px) {
  .section__header {
    flex-direction: column;
    row-gap: 10px;
  }
}
.section__header--center {
  justify-content: center !important;
}
.section__header-inner--center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__title {
  line-height: 56px;
}
.section__description {
  max-width: 360px;
}
.section--gray {
  background: var(--color-dark-light);
}
.section--contact {
  padding-block: 63px;
  background: var(--color-gray-deep);
  border-left: 10px solid var(--color-accent);
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 58px;
}
.hero__body {
  display: flex;
  flex-direction: column;
}
.hero__greetings {
  font-size: 38px;
  font-weight: 700;
  line-height: 68px;
  color: var(--color-accent);
}
@media (max-width: 767px) {
  .hero__greetings {
    line-height: normal;
  }
}
.hero__title:not(:last-child) {
  margin-bottom: 38px;
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 40px;
    line-height: normal;
  }
}
.hero__description {
  max-width: 550px;
  line-height: 28px;
}
.hero__actions {
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__download {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
@media (hover: hover) {
  .hero__download:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .hero__download:active {
    color: var(--color-light);
  }
}

.subtitle {
  position: relative;
  color: var(--color-accent);
  padding-left: 60px;
}
.subtitle__description {
  line-height: 19px;
}
.subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 50px;
  height: 2px;
  background: var(--color-accent);
}

.experience__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.experience__item {
  padding: 68px 25px;
  background: var(--color-dark-light);
  border-bottom: 6px solid var(--color-accent);
  max-width: 360px;
}
@media (max-width: 767px) {
  .experience__item {
    padding: 34px 20px;
  }
}

.experience-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 46px;
}
@media (max-width: 767px) {
  .experience-card__body {
    row-gap: 30px;
  }
}
.experience-card__main {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  line-height: 19px;
}

.project-card__inner {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  cursor: pointer;
}
@media (hover: hover) {
  .project-card__inner:hover .project-card__title {
    color: var(--color-accent);
  }
  .project-card__inner:hover .project-card__img img {
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .project-card__inner:active .project-card__title {
    color: var(--color-accent);
  }
  .project-card__inner:active .project-card__img img {
    transform: scale(1.2);
  }
}
@media (max-width: 1280px) {
  .project-card__inner {
    align-items: center;
  }
}
.project-card__img {
  overflow: hidden;
}
.project-card__img img {
  object-fit: cover;
  transition-duration: var(--transition-duration-img);
}
.project-card__title {
  transition-duration: var(--transition-duration);
}

.clients__slider-opinion {
  text-align: center;
  margin-bottom: 37px;
}
.clients__slider-info {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.clients__slider-info img {
  border-radius: 50%;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px) {
  .contact {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.contact__title {
  font-size: 38px;
  margin-bottom: 16px;
}

.footer {
  --marginInner: 68px;
  padding-block: 48px 26px;
  background: var(--color-dark-deep);
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__body {
    flex-direction: column;
    align-items: center;
    row-gap: var(--marginInner);
  }
}
.footer__body-inner {
  display: flex;
  column-gap: 114px;
}
@media (max-width: 1023px) {
  .footer__body-inner {
    column-gap: 57px;
  }
}
@media (max-width: 419px) {
  .footer__body-inner {
    flex-direction: column;
    row-gap: var(--marginInner);
    text-align: center;
  }
}
.footer h4 {
  margin-bottom: 26px;
}
.footer__extra {
  display: flex;
  justify-content: space-between;
  margin-top: var(--marginInner);
  padding-top: 26px;
  border-top: 1px solid var(--color-dark-light);
  color: var(--color-light);
}
.footer__extra span {
  color: var(--color-accent);
}

.info__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (hover: hover) {
  .info a:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .info a:active {
    color: var(--color-light);
  }
}

.socials__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (hover: hover) {
  .socials a:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .socials a:active {
    color: var(--color-light);
  }
}

/*# sourceMappingURL=styles.css.map */
