@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark-deep: #050507;
  --color-dark: #101017;
  --color-dark-light: #313131;
  --color-light: #FFFFFF;
  --color-gray-deep: #0A0A0F;
  --color-gray: #808080;
  --color-accent: #079211;
  --color-red: #FF5500;
  --container-width: 1280px;
  --container-desktop-padding-x: 125px;
  --container-tablet-padding-x: 80px;
  --container-mobile-padding-x: 55px;
  --section-padding-y: 120px;
  --section-tablet-padding-y: 50px;
  --section-header-margin-y: 90px;
  --section-tablet-header-margin-y: 70px;
  --button-height: 38px;
  --button-height-large: 54px;
  --border: 1px solid var(--color-accent);
  --border-radius: 10px;
  --transition-duration: .2s;
  --transition-duration-img: .3s;
  --transition-promo: 1.5s cubic-bezier(.05, .5, 0, 1);
}

.container {
  max-width: calc(var(--container-width) + var(--container-desktop-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-desktop-padding-x);
}
@media (max-width: 1023px) {
  .container {
    padding-inline: var(--container-tablet-padding-x);
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: var(--container-mobile-padding-x);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  background-color: var(--color-dark);
  font-weight: 400;
  line-height: 19px;
  font-family: "Inter", system-ui, sans-serif;
  color: var(--color-gray);
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--color-light);
}

h1, .h1 {
  font-size: clamp(50px, 6.1111111111vw, 88px);
  line-height: 94px;
}

h2, .h2 {
  font-size: clamp(30px, 3.1944444444vw, 46px);
}

h3, .h3 {
  font-size: clamp(20px, 1.8055555556vw, 26px);
}

h4, .h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

h5, .h5 {
  font-size: clamp(16px, 1.25vw, 18px);
}

h6, .h6 {
  font-size: clamp(14px, 1.1111111111vw, 16px);
}

input[disabled]:hover {
  background-color: var(--color-dark-light);
}

dialog {
  min-width: 25vw;
  padding: var(--container-mobile-padding-x);
  margin: auto;
  border: 1px solid var(--color-dark-light);
  background-color: var(--color-dark);
  color: var(--color-gray);
}
dialog form {
  font-size: 28px;
}
dialog:modal {
  max-width: 850px;
  max-height: 100%;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

#home {
  scroll-margin-top: 150px;
}

.logo {
  display: flex;
  align-items: center;
  min-height: 40px;
  font-size: 28px;
  color: var(--color-light);
  font-weight: 700;
}
.logo-link span {
  color: var(--color-accent);
}
@media (hover: hover) {
  .logo-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .logo-link:active {
    color: var(--color-accent);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 28px;
  background-color: var(--color-accent);
  border: var(--border);
  font-size: 18px;
  font-weight: 700;
  color: var(--color-light);
  line-height: 18px;
  min-height: var(--button-height-large);
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    background-color: transparent;
  }
}
@media (hover: none) {
  .button:active {
    background-color: transparent;
  }
}
.button--transparent {
  background-color: transparent;
  min-height: var(--button-height);
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--color-accent);
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
@media (hover: hover) {
  .cross-button:hover::after, .cross-button:hover::before {
    --colorBurgerLines: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active::after, .cross-button:active::before {
    --colorBurgerLines: var(--color-accent);
  }
}
.cross-button::after, .cross-button::before {
  --colorBurgerLines: var(--color-light);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--colorBurgerLines);
  border-radius: 1px;
  transition-duration: var(--transition-duration);
}
.cross-button::after {
  rotate: -45deg;
}
.cross-button::before {
  rotate: 45deg;
}

.contact-overlay__close-button-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 16px;
  font-weight: 500;
  position: relative;
}
.field__label {
  font-size: clamp(16px, 0.9722222222vw, 14px);
}
.field__control {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-gray-deep);
  color: var(--color-light);
  border: 1px solid var(--color-dark-light);
}
@media (hover: hover) {
  .field__control:hover {
    background-color: var(--color-dark-light);
  }
}
@media (hover: none) {
  .field__control:active {
    background-color: var(--color-dark-light);
  }
}
.field__control:focus {
  border-color: var(--color-accent);
  outline: none;
}
.field__control::placeholder {
  color: var(--color-gray);
}
.field__control:user-invalid {
  border-color: var(--color-red);
}
.field__control:-webkit-autofill {
  -webkit-text-fill-color: var(--color-light);
  box-shadow: 0 0 0 1000px var(--color-dark-light) inset;
}
.field__required-star {
  color: var(--color-red);
}
.field__error {
  color: var(--color-red);
}
.field textarea.field__control {
  resize: vertical;
  min-height: 120px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 18px 0;
  background: var(--color-dark-deep);
  color: var(--color-light);
  font-weight: 700;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
}
@media (max-width: 1023px) {
  .header__inner {
    column-gap: 30px;
  }
}
.header__menu {
  margin-left: auto;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 38px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    column-gap: 19px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 40px;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-accent);
  }
  .header__menu-link:hover::after {
    width: 100%;
    border-bottom: var(--border);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-accent);
  }
  .header__menu-link:active::after {
    width: 100%;
    border-bottom: var(--border);
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  border-bottom: 1px solid var(--color-light);
  transition-duration: var(--transition-duration);
}
.header__menu-link.is-active {
  color: var(--color-accent);
}
.header__vertical-menu {
  position: absolute;
  top: 18px;
  right: 10px;
}
.header__vertical-menu-list {
  display: flex;
}
.header__vertical-menu-link {
  display: block;
  width: 38px;
  height: 38px;
  position: relative;
}
.header__vertical-menu-link.is-active::before {
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .header__vertical-menu-link:hover {
    background-color: transparent;
  }
  .header__vertical-menu-link:hover::before {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__vertical-menu-link:active {
    background-color: transparent;
  }
  .header__vertical-menu-link:active::before {
    background-color: var(--color-accent);
  }
}
.header__vertical-menu-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 18px;
  height: 18px;
  background-color: var(--color-light);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.progress-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 4px;
  width: 0%;
  background: var(--color-accent);
}

.contact-form {
  display: grid;
  gap: 50px;
}
@media (min-width: 768px) {
  .contact-form {
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact-form__cell--wide {
  grid-column: -1/1;
}
.contact-form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
@media (max-width: 767px) {
  .contact-form__actions {
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
  }
}

.soc1als__item:not(:last-child) {
  margin-bottom: 20px;
}
.soc1als__list {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.soc1als__item a[title=Discord] {
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
}
@media (hover: hover) {
  .soc1als__item a[title=Discord]:hover::after {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .soc1als__item a[title=Discord]:active::after {
    background-color: var(--color-accent);
  }
}
.soc1als__item a[title=Discord]::after {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  background: url("../../images/icons/soc1als/discord.svg") center no-repeat var(--color-light);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}
.soc1als__item:not(:last-child) {
  margin: 0;
}
@media (hover: hover) {
  .soc1als__link:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .soc1als__link:active {
    color: var(--color-light);
  }
}
.soc1als svg {
  width: 48px;
  height: 48px;
  fill: currentColor;
}
@media (hover: hover) {
  .soc1als svg:hover {
    fill: var(--color-accent);
  }
}
@media (hover: none) {
  .soc1als svg:active {
    fill: var(--color-accent);
  }
}

.info__list {
  display: grid;
  row-gap: 20px;
}
.info__item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.info__item:not(:first-child) {
  padding-left: 68px;
}
@media (hover: hover) {
  .info__item a:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .info__item a:active {
    color: var(--color-light);
  }
}
.info__item[title=Address], .info__item[title=Email] {
  width: 48px;
  height: 48px;
  position: relative;
}
.info__item[title=Address]::before, .info__item[title=Email]::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  content: "";
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}
.info__item[title=Email]::before {
  background: url("../../images/icons/info/email.svg") center no-repeat currentColor;
}
.info__item[title=Address]::before {
  background: url("../../images/icons/info/address.svg") center no-repeat currentColor;
}
.info svg {
  width: 48px;
  height: 48px;
  fill: currentColor;
}

.grid {
  --gridColumn: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumn), 1fr);
  gap: 20px;
}
.grid__auto {
  grid-template-columns: repeat(auto-fit, 280px);
}
.grid--2 {
  --gridColumn: 2;
}
@media (max-width: 1280px) {
  .grid--2 {
    --gridColumn: 1;
  }
}

.section {
  position: relative;
  padding-block: var(--section-padding-y);
}
@media (max-width: 1023px) {
  .section {
    padding-block: var(--section-tablet-padding-y);
  }
}
.section__header {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: var(--section-header-margin-y);
}
@media (max-width: 1023px) {
  .section__header {
    margin-bottom: var(--section-tablet-header-margin-y);
  }
}
@media (max-width: 1023px) {
  .section__header {
    flex-direction: column;
    row-gap: 10px;
  }
}
.section__header--center {
  justify-content: center !important;
}
.section__header-inner--center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__title {
  line-height: 56px;
}
.section__description {
  max-width: 360px;
}
.section--gray {
  background: var(--color-dark-light);
}
.section--contact {
  background: var(--color-gray-deep);
  border-left: 10px solid var(--color-accent);
}

.promo {
  perspective: 1000px;
  overflow: hidden;
  padding: 0;
}
.promo__container {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform var(--transition-promo);
}
.promo__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo__content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.promo__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
.promo__subtitle .typed-cursor {
  font-size: clamp(40px, 3.1944444444vw, 46px);
  color: var(--color-light);
}
.promo__buttons {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.promo-layer-1 {
  transform: translateZ(-55px) scale(1.06);
  background-image: url("../../../images/promo/layer-1.jpg");
}
.promo-layer-2 {
  transform: translateZ(80px) scale(0.91);
  background-image: url("../../../images/promo/layer-2.png");
}
.promo-layer-3 {
  transform: translateZ(180px) scale(0.8);
}
.promo-layer-4 {
  transform: translateZ(190px) scale(0.9);
  background-image: url("../../../images/promo/layer-4.png");
}
.promo-layer-5 {
  transform: translateZ(300px) scale(0.9);
  background-image: url("../../../images/promo/layer-5.png");
}
.promo-layer-6 {
  transform: translateZ(380px);
  background-image: url("../../../images/promo/layer-6.png");
}
.promo-layer-4, .promo-layer-5, .promo-layer-6 {
  pointer-events: none;
}
.promo__soc1als {
  position: absolute;
  top: 20%;
  color: var(--color-light);
  left: 50%;
  translate: -50% -50%;
}

.subtitle {
  position: relative;
  color: var(--color-accent);
  padding-left: 60px;
}
.subtitle__description {
  line-height: 19px;
}
.subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 50px;
  height: 2px;
  background: var(--color-accent);
}

.skills {
  display: grid;
  align-items: start;
  gap: 40px;
}
@media (min-width: 1024px) {
  .skills {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 1023px) {
  .skills {
    gap: 25px;
  }
}
.skills__item-data {
  display: grid;
  gap: 20px;
}
.skills__item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.skills__item-name {
  position: relative;
  padding: 15px;
  color: var(--color-light);
  background-color: var(--color-dark-light);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
}
.skills__item-name:hover:has(.skills__item-tooltip) {
  background-color: var(--color-dark-deep);
}
.skills__item-name:hover .skills__item-tooltip, .skills__item-name:active .skills__item-tooltip {
  opacity: 1;
  visibility: visible;
  scale: 1;
}
.skills__item-tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  padding: 15px;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius);
  background-color: var(--color-dark-deep);
  transition-duration: var(--transition-duration);
  z-index: 999;
  scale: 0.75;
}
@media (min-width: 768px) {
  .skills__item-tooltip {
    min-width: 300px;
  }
}
.skills__item-tooltip p {
  line-height: 1.5;
}
.skills__item-tooltip span {
  font-weight: 600;
}
.skills__item-tooltip::before {
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  top: 0;
  border: inherit;
  background-color: var(--color-dark-deep);
  rotate: 225deg;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  translate: 0 -50%;
}

.experience__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.experience__item {
  padding: 68px 25px;
  background: var(--color-dark-light);
  border-bottom: 6px solid var(--color-accent);
  max-width: 360px;
}
@media (max-width: 767px) {
  .experience__item {
    padding: 34px 20px;
  }
}

.experience-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 46px;
}
@media (max-width: 767px) {
  .experience-card__body {
    row-gap: 30px;
  }
}
.experience-card__main {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  line-height: 19px;
}

@media (max-width: 767px) {
  .tabs__header {
    overflow-x: auto;
  }
}
.tabs__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  padding-block: 30px;
  font-size: 18px;
}
@media (max-width: 1023px) {
  .tabs__buttons {
    width: max-content;
    margin-inline: auto;
  }
}
.tabs__buttons--compact {
  display: inline-flex;
  column-gap: 10px;
  padding: 10px;
  background-color: var(--color-dark);
  border-radius: 10px;
}
.tabs__buttons--compact .tabs__button {
  padding: 18px 38px;
}
.tabs__buttons--compact .tabs__button.is-active {
  background-color: var(--color-gray);
}
.tabs__button {
  padding: 20px 10px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-dark);
  cursor: pointer;
}
@media (hover: hover) {
  .tabs__button:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }
}
@media (hover: none) {
  .tabs__button:active {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }
}
.tabs__button.is-active {
  color: var(--color-light);
  background-color: var(--color-dark);
  pointer-events: none;
}
.tabs__content:not(.is-active) {
  display: none;
}
.tabs__content:focus-visible {
  outline-offset: -1rem;
}

.projects__list {
  justify-content: center;
  justify-items: center;
}

.project-card {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 210px;
  color: var(--color-light);
}
.project-card:hover .project-card__overview, .project-card:active .project-card__overview {
  bottom: 0;
}
.project-card__overview {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 24px;
  background: rgba(49, 49, 49, 0.4588235294);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition-duration: var(--transition-duration-img);
}
.project-card__subtitle {
  font-weight: 600;
  line-height: 1.5;
}
@media (hover: hover) {
  .project-card__subtitle a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .project-card__subtitle a:active {
    color: var(--color-accent);
  }
}
.project-card__links {
  display: flex;
  column-gap: 1rem;
}
.project-card__link-action {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
@media (hover: hover) {
  .project-card__link-action:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .project-card__link-action:active {
    color: var(--color-accent);
  }
}
.project-card__link-action svg {
  fill: currentColor;
}

.contact {
  --marginBetween: 60px;
}
@media (min-width: 1024px) {
  .contact {
    display: flex;
    justify-content: space-between;
    column-gap: var(--marginBetween);
  }
}
.contact__soc1als {
  display: flex;
  color: var(--color-light);
}
@media (max-width: 767px) {
  .contact__soc1als {
    justify-content: center;
  }
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
@media (max-width: 1023px) {
  .contact__info {
    margin-bottom: var(--marginBetween);
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
}
@media (max-width: 767px) {
  .checkbox {
    column-gap: 6px;
  }
}
@media (hover: hover) {
  .checkbox:hover .checkbox__control {
    border-color: var(--color-accent);
  }
}
@media (hover: none) {
  .checkbox:active .checkbox__control {
    border-color: var(--color-accent);
  }
}
.checkbox__label a {
  color: var(--color-light);
}
@media (hover: hover) {
  .checkbox__label a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .checkbox__label a:active {
    color: var(--color-accent);
  }
}
.checkbox__control {
  --size: 28px;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  margin: 0;
  background-color: var(--color-gray-deep);
  border: 1px solid var(--color-dark-light);
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .checkbox__control {
    --size: 28px;
  }
}
.checkbox__control:not(:checked)::after {
  opacity: 0;
  visibility: hidden;
}
.checkbox__control:user-invalid {
  border-color: var(--color-red);
}
.checkbox__control::after {
  content: "✔";
  color: var(--color-light);
  transition-duration: var(--transition-duration);
}

.modal {
  display: none;
}
.modal.is-active {
  display: block;
}

.footer {
  --marginInner: 60px;
  padding-block: var(--marginInner);
  background: var(--color-dark-deep);
}
.footer__logo {
  justify-content: center;
}
.footer__divider {
  height: 1px;
  background: var(--color-gray);
  margin: 40px auto;
}
.footer__extra {
  --marginInner: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--color-light);
}
.footer__extra span {
  color: var(--color-accent);
}

/*# sourceMappingURL=styles.css.map */
